* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-body: "Mulish", sans-serif;
  --background-color: hsla(283, 47%, 97%, 1);
  --heading-text-color: hsla(320, 69%, 42%, 1);
  --text-color: hsla(244, 38%, 28%, 1);
}

body {
  font-family: var(--ff-body);
  background-color: var(--background-color);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
}

.hero {
  padding: 0 3.4rem 9.3rem 3.2rem;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.7rem 0 0;
}

.hero__text h1 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;
  text-align: center;

  color: var(--heading-text-color);

  margin-bottom: 5px;
}

.hero__text p {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;

  color: var(--text-color);
}

.hero__arrow {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
  width: 5.9rem;
  height: 10.5rem;
  padding: 3rem 1.4rem;
  border: 4px solid var(--heading-text-color);
  border-radius: 76rem;

  transition: all 300ms ease;
}

.hero__arrow:hover {
  opacity: 0.7;
}

.cards {
  gap: 8.28rem;
  padding: 5.3rem 3.9rem 5.5rem;
  background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
}

.cards .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 2.6rem;

  background: #ffffff;
  box-shadow: 0px 3.3px 1.3rem rgba(0, 0, 0, 0.25);
  border-radius: 2rem;

  transition: all 300ms ease;
}

.cards .card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card img {
  width: 8rem;
}

.card h2 {
  font-weight: 900;
  font-size: 2.9rem;
  line-height: 3.7rem;

  margin: 3.3rem 0 2rem;

  color: var(--heading-text-color);
}

.card p {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--text-color);
}

.contact {
  padding: 7.8rem 3.9rem 6.5rem;
}

h2 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;

  color: var(--heading-text-color);

  margin-bottom: 4.2rem;
}

fieldset {
  display: flex;
  flex-direction: column;
}

.input__div {
  margin-bottom: 2.4rem;
}

fieldset,
input,
textarea,
button {
  border: none;
}

input,
textarea {
  background-color: var(--background-color);
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  width: 100%;
  border: 1.5px solid #312d64;
  border-radius: 1.6rem;

  font-family: var(--ff-body);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;

  color: var(--text-color);
}

textarea {
  height: 12.6rem;
}

input::placeholder {
  padding-left: 2.8rem;
}

::placeholder {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.6rem;
}

#name {
  background-image: url(./assets/person-name.svg);
  background-repeat: no-repeat;
  background-position: 1.4rem 1.2rem;
}

#email {
  background-image: url(./assets/email.svg);
  background-repeat: no-repeat;
  background-position: 1.4rem 1.2rem;
}

button {
  background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
  border-radius: 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.6rem;
  width: 15.1rem;
  height: 4.5rem;

  font-family: "Mulish";
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;

  color: #ffffff;
}

footer {
  background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
  padding: 3.2rem 1.6rem;
  text-align: center;
}

footer p {
  font-weight: 600;
  font-size: 1.93rem;
  line-height: 2.4rem;
  color: #ffffff;
}

@media (min-width: 1440px) {
  .hero {
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0 2.9rem 10.3rem 10.9rem;
    max-height: 83.6rem;
  }

  .hero .astronaut {
    width: 71.9rem;
    height: 73.2rem;
  }

  .hero__text {
    margin-top: 31.2rem;
    align-items: flex-start;
  }

  .hero__text h1 {
    margin-bottom: 0;
    font-size: 5.8rem;
    line-height: 7.3rem;
  }

  .hero__text p {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 17.9rem;
  }

  .hero__arrow {
    margin-top: 0;
    margin-bottom: 13.6rem;
  }

  .cards {
    flex-direction: row;
    justify-content: center;
    max-height: 57.6rem;
  }

  .cards .card {
    width: 36.6rem;
    height: 44.8rem;
  }

  .card img {
    width: 9.7rem;
  }

  .card h2 {
    font-size: 3.5rem;
    line-height: 4.4rem;
  }

  .card p {
    font-size: 1.93rem;
    line-height: 2.4rem;
  }

  .contact {
    display: flex;
    flex-direction: row;
    padding: 9.5rem 9.2rem 9.5rem 11.2rem;
    background-image: url(./assets/stars.svg);
    background-repeat: no-repeat;
    background-position: right;
  }

  form {
    width: 59.5rem;
  }
}
